body {
font-family: 'Merriweather', serif;
  background-color: white;
  font-weight: 400;
}

header {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header img {
  align: center;
  margin: none;
  width: 230px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  font-family: trebuchet ms,Arial,sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 7px;
}

nav a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.main h1 {
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 400px;
}

.map-content {
  width: 66%;
}

article {
  width: 100%;
  margin-bottom: 20px;
}

article img {
  width: 100%;
}

.sidebar {
  width: 30%;
}

.sidebar img {
  width: 100%;
}

.blog-posts {
  display: flex;
  justify-content: space-around;
}

.blog-preview img {
  width: 90%;
}

.instagram-posts {
  display: flex;
  justify-content: space-around;
}

.insta-preview img {
  width: 90%;
}
