body {
  font-family: Helvetica, Arial;
  background-color: #fbeeee;
}

header {
  height: 120px;
  margin: 10px;
}

header img {
  width: 30%;
  margin: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 60px 0px;
}

.map img {
  width: 100%;
}

.map-content {
  width: 60%;
}

.sidebar {
  width: 30%;
}

.sidebar img {
  width: 100%;
}

.blog-posts {
  display: flex;
  justify-content: space-around;
}

.blog-preview img {
  width: 33%;
}

.instagram-posts {
  display: flex;
  justify-content: space-around;
}

.insta-preview img {
  width: 33%;
}
